<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.a2"
    >

    <uses-permission android:name="edu.uic.cs478.project3"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

        <receiver android:name="A2Receiver"
            android:enabled="true"
            android:exported="true"
            android:label="A2Receiver">
            <intent-filter android:priority="25">
                <action android:name="com.example.android.a1nba"> </action>
                <action android:name="com.example.android.a1mlb"> </action>
            </intent-filter>

        </receiver>

    </application>

</manifest>